<div>
    <div class="commits-title-wrapper">
        {{username}}
    </div>
    <div ng-if="!loaded">
        <!-- 
            Image taken from https://octodex.github.com/daftpunktocat-thomas/
        -->         
        <img class="commits-loading-image" src="/app/images/daftpunktocat-thomas.gif" title="In Octocat language, this means we're married">
        <div class="main-text">(This means loading, by the way...)</div> 
        <div class="error-message">{{error}}</div>
        <div class="error-message">{{error2}}</div>
    </div>
    <div ng-if="loaded">
        <highchart id="chart1" config="chartConfig"></highchart>
    </div>
    <div ng-if="error || loaded" class="main-button-wrapper">
        <button type="button" class="main-button" ng-click="$state.go('main')">Back</button> 
    </div>
</div>
