<div>
    <div class="commits-title-wrapper">
        {{username}}
    </div>
    <div ng-if="!loaded">
        <img class="commits-loading-image" src="/app/images/daftpunktocat-thomas.gif">
        <div class="error-message">{{error}}</div>
        <div class="error-message">{{error2}}</div>
    </div>
    <div ng-if="loaded">
        <highchart id="chart1" config="chartConfig"></highchart>
    </div>
    <div ng-if="error || loaded" class="main-button-wrapper">
        <button type="button" class="main-button" ng-click="$state.go('main')">Back</button> 
    </div>
</div>
