@pasBlue:       #536F8E;
@pasYellow:     #FDFD96;
@pasBrown:      #836953; 
@pasDarkGreen:  #03C03C;
@pasGreen:      #77DD77;

.header {
    margin: 8% 0 0 0;
    text-align: center;
    font-size: 645%;
    font-weight: bold;
    color: @pasYellow;
}
.main-textbox-wrapper{
    text-align: center; 
    font-size: 120%;
}
.main-textbox{
    width: 30%;
    padding: 0.2%;
    color: @pasYellow;
    font-weight: 900;
    font-size: 175%;
    border-color: @pasYellow;
    background-color: @pasBlue;
    border-style: double;
}
.main-button-wrapper{
    text-align: center; 
    margin-top: 1%;
}
.main-button{
    width: 12%;
    padding: 0.2%;
    color: @pasYellow;
    font-weight: 900;
    font-size: 175%;
    border-color: @pasYellow;
    background-color: @pasBlue;
    border-style: double;
    &:hover {
        background-color: @pasBrown;
    }
}
.main-text{
    text-align: center; 
    color: @pasGreen;
    margin: 2%;
    font-size: 120%;
}
.main-body{
    background-color: @pasBlue;
}
