<div >
    <div class="header" id="banner">
        Predict Your Commits
    </div>
    <div class="main-text">
    Enter a GitHub account name below, and you can see past commit trends along with a prediction of future commit trends  
    </div>
    <div class="main-textbox-wrapper">
        <input type="text" class="main-textbox" ng-model="username" placeholder="Enter Github username here" ng-keypress="press($event)" autofocus>
    </div>
    <div class="main-button-wrapper">
        <button type="button" class="main-button" ng-click="submit()">Submit</button> 
    </div>
</div>
